@model List<Library.Models.book>
@{
    ViewBag.Title = "lib";
    Layout = "~/Views/shared/_lay.cshtml";
    int v = Convert.ToInt32(Session["user"]);
}
  
@section head{
    <h1 class="text-warning">Welcome @Session["name"]</h1>
    @Html.ActionLink("My library", "Mylib", "home", new { @class = "btn btn-outline-warning btn-lg" })
}
<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card col-sm-12 col-md-3">
            <img class="card-img-top img-fluid img-responsive rounded" style="height:420px;" src="@item.img_url" alt="Alternate Text" />
            <div class="card-body">
                <h5 class="card-title">@item.name</h5>
                @Html.ActionLink("details", "details", "home", new { isbn = item.isbn }, new { @class = "btn btn-info" })
                @Html.ActionLink("Add To My List", "AddToMyList", "home", new { isbn = item.isbn, Uid = v }, new { @class = "btn btn-success"})
            </div>
        </div>
    }
</div>
