@model List<Library.Models.book>
@{
    ViewBag.Title = "Mylib";
    Layout = "~/Views/shared/_lay.cshtml";
    int v = Convert.ToInt32(Session["user"]);
}

@section head{
<h2>My library</h2>
@Html.ActionLink("browse our books", "lib", "home", new { @class = "btn btn-warning m-auto" })
@Html.ActionLink("Delete my account", "DeleteAcc", "home", new { Uid = v }, new { @class = "btn btn-danger", onclick = "return confirm('R U sure?')" })
}

<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card col-sm-12 col-md-3">
            <img class="card-img-top img-fluid img-responsive rounded" style="height:420px;" src="@item.img_url" alt="Alternate Text" />
            <div class="card-body">
                <h5 class="card-title">@item.name</h5>
                @Html.ActionLink("details", "details", "home", new { isbn = item.isbn }, new { @class = "btn btn-info" })
                @Html.ActionLink("remove from my list", "RemoveFromMyList", "home", new { isbn = item.isbn, Uid = v }, new { @class = "btn btn-danger", onclick = "return confirm('R U sure?')" })
            </div>
        </div>
    }
</div>

